<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h3 class="display-5">Blogs</h3>
<p class="float-start">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Add new blog
    </button>
</p>
<form action="/" class="float-end w-25" method="get" id="formSearch">
    <div class="input-group mb-3 ">
        <input type="text" class="form-control float-start" name="keySearch" placeholder="Key search"
               aria-label="Recipient's username"
               aria-describedby="button-addon2" th:value="${keySearch}">
        <button class="btn btn-outline-secondary float-end" type="submit" id="button-addon2">Search
        </button>
    </div>
</form>
<table class="table table-hover" id="customers">
    <thead>
    <tr>
        <th>Topic</th>
        <th>Content</th>
        <th>Author</th>
        <th>BlogType</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blogs}">
        <td th:text="${row.topic}"></td>
        <td th:text="${row.content}"></td>
        <td th:text="${row.author}"></td>
        <td th:text="${row.blogType.blogTypeName}"></td>
        <td>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal"
                    th:data-id="${row.id}" th:data-topic="${row.topic}" th:data-content="${row.content}"
                    th:data-author="${row.author}" th:data-blogtype="${row.blogType.id}">Edit
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal"
                    th:data-id="${row.id}" onclick="getIdRemove(this.getAttribute('data-id'));">Remove
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewModal"
                    th:data-topic="${row.topic}" th:data-content="${row.content}"
                    th:data-author="${row.author}" th:data-blogtypename="${row.blogType.blogTypeName}">View
            </button>
        </td>
    </tr>
    </tbody>
</table>
<a th:if="${blogs.hasPrevious()}" th:href="@{/(page=${blogs.number - 1},keySearch=${keySearch})}">
    <button class="btn btn-info">Prev</button>
</a>
<span th:text="${blogs.number + 1}"></span> -- <span th:text="${blogs.totalPages}"></span>
<a th:if="${blogs.hasNext()}" th:href="@{/(page=${blogs.number + 1},keySearch=${keySearch})}">
    <button class="btn btn-info">Next</button>
</a>
<label class="text-black" th:if="${msg1}" th:text="${msg1}"></label>
<!--Modal-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/create" method="post" id="formCreate" th:object="${blog}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name </label>
                        <input type="text" th:field="*{topic}" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" th:field="*{content}" id="content" rows="3"/>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author </label>
                        <input type="text" th:field="*{author}" class="form-control" id="author">
                    </div>
                    <div class="mb-3">
                        <label for="blogType" class="form-label">BlogType </label>
                        <select class="form-select" th:field="*{blogType}" id="blogType"
                                aria-label="Default select example">
                            <option th:selected="${bt.id==1}" th:each="bt:${blogTypes}" th:value="${bt.id}"
                                    th:text="${bt.blogTypeName}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createBlog()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove product </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirm remove</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="remove">
                    <button type="button" class="btn btn-primary">Remove</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/edit" method="post" id="formEdit" th:object="${blog}">
                    <input type="hidden" th:field="*{id}" id="idEdit">
                    <div class="mb-3">
                        <label for="topicEdit" class="form-label">Topic </label>
                        <input type="text" th:field="*{topic}" class="form-control" id="topicEdit">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" th:field="*{content}" id="contentEdit" rows="3"/>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author </label>
                        <input type="text" th:field="*{author}" class="form-control" id="authorEdit">
                    </div>
                    <div class="mb-3">
                        <label for="blogType" class="form-label">BlogType </label>
                        <select class="form-select" th:field="*{blogType}" id="blogTypeEdit"
                                aria-label="Default select example">
                            <option th:each="bt:${blogTypes}" th:value="${bt.id}"
                                    th:text="${bt.blogTypeName}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editProduct()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Topic: </label>
                    <label class="form-label" id="topicView"></label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Content: </label>
                    <label class="form-label" id="contentView"></label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Author: </label>
                    <label class="form-label" id="authorView"></label>

                </div>
                <div class="mb-3">
                    <label class="form-label">Blog type: </label>
                    <label class="form-label" id="blogTypeView"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${msg}" class="modal" tabindex="-1" id="action">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="${msg}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#action").modal('show');
    });

    function createBlog() {
        document.getElementById("formCreate").submit();
    }

    function editProduct() {
        document.getElementById("formEdit").submit();
    }

    function getIdRemove(id) {
        document.getElementById("remove").href = "/remove/" + id;
    }

    $('#editModal').on('show.bs.modal', function (e) {
        var id = $(e.relatedTarget).data('id');
        document.getElementById("idEdit").value = id;
    });
    $('#editModal').on('show.bs.modal', function (e) {
        var topic = $(e.relatedTarget).data('topic');
        document.getElementById("topicEdit").value = topic;
    });
    $('#editModal').on('show.bs.modal', function (e) {
        var content = $(e.relatedTarget).data('content');
        document.getElementById("contentEdit").value = content;
    });
    $('#editModal').on('show.bs.modal', function (e) {
        var author = $(e.relatedTarget).data('author');
        document.getElementById("authorEdit").value = author;
    });
    $('#editModal').on('show.bs.modal', function (e) {
        var blogType = $(e.relatedTarget).data('blogtype');
        // const $select = document.querySelector('#blogTypeEdit');
        // $select.value = blogType;
        document.getElementById("blogTypeEdit").value = blogType;
    });


    $('#viewModal').on('show.bs.modal', function (e) {
        var topic = $(e.relatedTarget).data('topic');
        document.getElementById("topicView").innerHTML = topic;
    });
    $('#viewModal').on('show.bs.modal', function (e) {
        var content = $(e.relatedTarget).data('content');
        document.getElementById("contentView").innerHTML = content;
    });
    $('#viewModal').on('show.bs.modal', function (e) {
        var author = $(e.relatedTarget).data('author');
        document.getElementById("authorView").innerHTML = author;
    });
    $('#viewModal').on('show.bs.modal', function (e) {
        var blogTypeName = $(e.relatedTarget).data('blogtypename');
        document.getElementById("blogTypeView").innerHTML = blogTypeName;
    });

</script>
</body>
</html>