<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
    </tr>
    <tr th:each="product:${cart.products}">
        <td th:text="${product.getKey().name}"></td>
        <td th:text="${product.getKey().price}"></td>
        <td th:text="${product.getValue()}"></td>
    </tr>
</table>
<h1>Bạn đã thanh toán thành công:</h1>
<h1 th:text="${cart.countTotalPayment()}"></h1>
</body>
</html>